.navbar{
  align-items: center;
  justify-content: space-between;
    display: flex;
}
.logo{
    padding-left: 4%;
}
.search{
    padding-left: 15%;
}
.search input{
    display: flex;
    border: 1px solid rgb(100, 216, 255);
    height: 40px;
    width: 500px;
    font-size: 18px;
    padding-left: 25px;
    border-radius: 50px;
    outline: none;
}
.search input:focus{
    border:1px solid rgb(0, 191, 255);
}
.options button{
    border-color: rgb(175, 247, 255);
    /* border: none; */
    border-radius: 50px;
    background-color: white;
    color: blue;
    padding: 4px 5px;
}
.options button:hover{
    background-color: rgb(229, 228, 228);
    color: rgb(93, 93, 93);
    cursor: pointer;
}